body {
  font: $font;
  color: $text-color;
  background: $background;
}

.page {
    bottom: 0; 
    position: fixed; 
    top: 0;  
    width: 100%;
    background: $background;
}

input,
textarea,
button {
  font: inherit;
}

svg g,
svg path {
    fill: inherit; /* this allows CSS to override an element's fill when a fill has already been baked in to the svg file */
}
