body {
  font: $font;
  color: $text-color;
  background: $background;
}

.page {
    // bottom: 0;
    // position: absolute;
    // top: 0;
    // width: 100%;
    background: $background;
}

input,
textarea,
button {
  font: inherit;
}

svg g,
svg path {
    fill: inherit; /* this allows CSS to override an element's fill when a fill has already been baked in to the svg file */
}

.noselect {
  user-select: none;
}


// Shared styles

.song-queue-item,
.song-search-result {

  display: flex;
  align-items: center;
  margin: 10px 0;

  .song-image {
    flex: 0 0 54px;
    height: 54px; // TODO: make these variables
    width: 54px;
    margin-left: 10px;
  }

  .song-info {
    flex: 1;
    margin-top: -4px;
    margin-left: 10px;

    .song-title {
      font: $queue-title-font;
    }

    .song-artist {
      font: $queue-artist-font;
    }

    .song-user {
      font: $queue-user-font;
      color: $light-gray-1;
    }
  }
}
