/* App colors */

$light-gray-1: #9B9B9B;
$gray: #9E9E9E;
$dark-gray-1: #424242;
$dark-gray-2: #191919;


$background: $dark-gray-2;
$text-color: #FFF;

/* App fonts */

$font: 16px "Lato", "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;

$song-title-font: 16px "Lato", "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
$song-artist-font: 14px "Lato", "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
$song-user-font: 10px "Lato", "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
