/* App colors */

$light-gray-2: #F5F5F5;
$light-gray-1: #BDBDBD;
$gray: #9E9E9E;
$dark-gray-1: #424242;
$dark-gray-2: #191919;


$background: $dark-gray-2;
$text-color: $light-gray-2;

/* App fonts */

$font: 16px "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
