.default {
  &.modal {
    top: 75px;
  }
  .modal-dialog {
    color: $dark-gray-2;
    .modal-content {
      background-color: white;
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
    }
    .modal-header, .modal-footer {
      border: none;
    }
    .modal-header {
      padding-bottom: 0;
    }
    .modal-body {
      //padding-top: 10px;
      //padding-bottom: 20px;
    }
    .modal-footer {
      display: flex;
      justify-content: center;
      padding-top: 0;
    }
    .btn-primary {
      border-color: $dark-gray-2;
      background-color: $dark-gray-2;
    }
    .btn-warning {
      border-color: $dark-gray-1;
      background-color: $dark-gray-1;
    }
    .modal-body {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        max-width: 200px;
      }
      span {
        padding-bottom: 4px;
        padding-right: 4px;
      }
    }
  }
}