<div class="default" tabindex="-1">
  <div class="modal-header">
    <h3 class="modal-title">{{ modal_title }}</h3>
  </div>
  <form>
    <div class="modal-body" compile ng-bind-html="modal_body_html"></div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" ng-click="ok()">{{ primary_btn_text }}</button>
      <div ng-if="secondary_btn_text">
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{ secondary_btn_text }}</button>
      </div>
    </div>
  </form>
</div>