$plus-color: $background;

.plus-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #FFF;
  color: $plus-color;
  border-top-left-radius: 100%;

  .plus {
    font-weight: bold;
    font-size: 42px;
    position: absolute;
    right: 4px;
    bottom: 4px;
  }
}