$plus-button-color: white;
$plus-color: black;

.plus-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: $plus-button-color;
  border-top-left-radius: 100%;

  .plus-icon {
    position: absolute;
    right: 6px;
    bottom: 6px;
    svg {
      width: 20px;
      height: 20px;
      fill: $plus-color;
    }
  }
}

.plus-button:focus {
  outline: 0;
}