.graph-controls-view {
  position: fixed;
  left: 0;
  bottom: 90px;
  font-size: 20px;
  width: 100%;

  .control-box {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #2ebd59;
    color: white;
    box-shadow: 0px 2px 5px black;

    .control-item {
      input, select {
        margin-top: -5px;
        margin-left: 4px;
      }
    }
  }
}