$record-size: 240px;

.header {
  overflow: hidden;
}

.header-info {
  padding-top: 10px;
  text-align: center;
  background: white;
  color: $dark-gray-1;

  .header-label {
    text-align: center;
    &.song {
      font: $header-title-font;
    }
    &.artist {
      font: $header-artist-font;
      margin-top: -2px;
    }
    &.user {
      font: $header-user-font;
      color: $light-gray-1;
      margin-top: 1px;
    }
  }
}

.record-player {
  padding-top: 20px;
  height: 288px;
  position: relative;
  background-color: #FFF;
  width: 120%;
  left: -10%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.record {
  display: block;
  height: $record-size;
  width: $record-size;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    border-radius: $record-size/2;
  }

  svg {
    height: 100%;
    width: 100%;
    rotate: 45deg;
    scale: 0.75;
    fill: $background;
  }
}