<div class="header">
  <div class="header-info">
    <div class="header-label song">
      <span>{{ currentlyPlaying.track }}</span>
    </div>
    <div class="header-label artist">
      <span>{{ currentlyPlaying.artist }}</span>
    </div>
  </div>
  <!-- <div class="record-player">
    <div class="record" ng-if="currentlyPlaying">
      <img src="{{ currentlyPlaying.image_url }}">
    </div>
  </div> -->
  <div class="iframe-record-player">
    <div class="iframe-record" ng-if="currentlyPlaying">
      <div class="iframe-container">
        <iframe ng-src="{{ currentlyPlaying.url | spotifyEmbedUrl }}" width="160" height="160" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>