<div class="header">
  <div class="header-info" ng-if="currentlyPlaying">
    <div class="header-label song">
      <span>{{ currentlyPlaying.track }}</span>
    </div>
    <div class="header-label artist">
      <span>{{ currentlyPlaying.artist }}</span>
    </div>
    <div class="header-label user">
      <span>@{{ currentlyPlaying.submitter }}</span>
    </div>
  </div>
  <div class="record-player">
    <div class="record" ng-if="currentlyPlaying">
      <img src="{{ currentlyPlaying.image_url }}">
    </div>
    <div class="record" ng-if="!currentlyPlaying">
      <svg>
        <use xlink:href="#plus-icon"></use>
      </svg>
    </div>
  </div>
</div>