/* -------------------- *
 * Rules for home.html *
 * -------------------- */
#room_section a.button {
  background-color: #d64031;
  margin-top: 14px;
  min-width: 60px;
  border-radius: 4px; }

#username_update_button {
  color: white;
  border: none;
  background-color: #d64031;
  border-radius: 4px; }

#username_display {
  font-weight: bold; }

.created_by {
  color: #d64031; }

#username_input {
  outline: none;
  border: 1px inset;
  border-radius: 2px; }

#username_update_div {
  display: none; }

li {
  overflow: auto; }

a {
  text-decoration: none; }

.icon {
  border-radius: 50%; }

.icon.music {
  margin-left: 0px;
  background-color: #d64031;
  background-image: url("../images/app-icons/music.png"); }

/* -------------------- *
 * Rules for queue.html *
 * -------------------- */
#notification_div {
  z-index: 1001;
  position: relative;
  color: #ffffff;
  background: #d64031;
  text-align: center;
  margin-top: -140px;
  padding-top: 94px;
  padding-bottom: 5px;
  border-bottom: solid #d7d7d7 2px;
  -webkit-transition: margin 1.5s; }

#queue_list li aside {
  margin-right: 10px; }

#queue_list h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; }
#queue_list h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; }
#queue_list p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; }

#queue_list.shrunken h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin-right: 30px; }
#queue_list.shrunken h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin-right: 30px; }
#queue_list.shrunken p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin-right: 30px; }

.suggested_by span {
  color: #d64031; }

.delete_icon {
  margin-top: 24px;
  float: left;
  display: none; }

.delete_icon img {
  width: 30px; }

.trash_container a {
  margin-left: 0;
  padding-right: 2px; }

.swap_icon {
  margin-top: 6px;
  float: right;
  display: none; }

.swap_icon img {
  width: 30px; }

.playing_icon {
  margin-top: 20px;
  margin-right: 0px;
  float: right; }

.playing_icon img {
  width: 30px; }

#main h2 {
  text-align: center; }

.square {
  width: 54px;
  height: 54px;
  border: 3px dashed red;
  border-radius: 10px; }

.miniSquare {
  width: 60px;
  height: 60px;
  border-radius: 10px; }

.squareButton {
  margin-left: 5px;
  margin-right: 5px; }
  .squareButton img {
    margin-top: 4px; }

a.squareButton {
  padding: 0; }

#colorPickerList {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  #colorPickerList li {
    display: block;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0px; }

#colorPopover {
  zoom: 1;
  width: 220px;
  height: 220px;
  background: white;
  border: 16px solid #db4938;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -110px;
  z-index: 0; }

#song_section h2 {
  width: 92%; }

#spotify_song_search {
  text-align: center;
  font-size: 10pt;
  margin-top: 13px;
  margin-left: 13px;
  width: 80%;
  padding: 5px;
  padding-left: 24px;
  outline: none;
  border: 2px inset;
  border-radius: 8px; }

.ui-autocomplete-input:focus {
  box-shadow: 0 0 0 2px #9ac0eb; }

.ui-menu .ui-menu-item:nth-child(even) {
  background-color: #efeff4; }
.ui-menu .ui-menu-item .ui-state-hover {
  background: #efeff4; }
.ui-menu .ui-menu-item .ui-state-focus {
  background: #efeff4; }
