<div class="dataviz-page">
  <!-- <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> --> <!-- TODO: Move this elsewhere -->
  <div class="header">
    <div>Jukebox</div>
    <button ng-click="login()">Login</button>
    <button ng-click="getSongs()">Get Songs</button>
  </div>
  <div ng-if="!getSongsClicked" class="explainer-text">Click Get Songs to get started. &mapstoup;</div>
  <div ng-if="getSongsClicked && !musicLoadingIsComplete" spinner></div>
  <div ng-controller="GraphController" ng-if="musicLoadingIsComplete">
    <div class="graph-view"> <!-- TODO: add green text in here? -->
      <div id="mygraph" ng-class="selectedTimePeriod">
        <div class="mydiv"></div>
      </div>
    </div>
    <div ng-controller="GraphControlsController">
    <div class="graph-controls-view">
      <div class="control-box">
        <div class="content">
          Top tracks from
          <select ng-model="selectedTimePeriod" ng-change="changeTopTimePeriod()" name="time-period">
            <option value="long_term">All time</option>
            <option value="medium_term">Last 6 months</option>
            <option value="short_term">Last 4 weeks</option>
          </select>
          <br>
          Hide non top tracks?
          <input type="checkbox" ng-change="toggleHiddenNonTopTracks()" name="hide-non-top" ng-model="nonTopTracksHidden">
          <br>
          Display tracks based on<br>
          <select ng-model="yAxisCategory" ng-change="changeYAxisCategory()" name="y-axis-category">
            <option value="danceability">Danceability</option>
            <option value="energy">Energy</option>
            <option value="speechiness">Speechiness</option>
            <option value="acousticness">Acousticness</option>
            <option value="instrumentalness">Instrumentalness</option>
            <option value="liveness">Liveness</option>
            <option value="valence">Valence</option>
          </select>
          x
          <select ng-model="xAxisCategory" ng-change="changeXAxisCategory()" name="x-axis-category">
            <option value="time">Date added</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--   <div class="song-list">
    <div ng-repeat="item in savedTrackList">
      <button ng-click="playSelectedSong(item.track.name, item.track.artists[0].name)"><span>{{item.track.name}}</span> by <span>{{item.track.artists[0].name}}</span></button>
    </div>
  </div>
-->
  <div ng-controller="YoutubeController">
    <div class="iframe-container">
      <iframe id="ytplayer" type="text/html" ng-src="{{ yt_video_id | youtubeEmbedUrl }}" frameborder="0" allowfullscreen/>
    </div>
  </div>
</div>