.modal.fade {
  display: none;

  &.in .modal-body {
    bottom: 0;
  }
}

.modal-body {
  position: absolute;
  background-color: $background;
  bottom: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: bottom 0.3s ease-out;
  -moz-transition: bottom 0.3s ease-out;
  -o-transition: bottom 0.3s ease-out;
  transition: bottom 0.3s ease-out;

  .close {
    background-color: $background;
    border: none;
    &:focus {
      outline: 0;
    }
  }
}