.search-page.ng-enter { 
  animation: slideInUp 0.5s both;
}
.search-page.ng-leave {
  animation: slideOutDown 0.5s both;
}

.search-wrapper {
  padding: 6px;
}

.search-header-items {
  line-height: 28px;
}

.search-header-item {
  &.search {
    color: $background;
    overflow: hidden;
    input {
      padding: 0;
      border-width: 0;
      border-radius: 4px;
      width: 100%;
      &:focus {
        outline: 0;
      }
    }
  }

  &.close {
    float: right;
    width: 54px;
    text-align: right;
    a {
      text-decoration: none;
      background-color: $background;
      color: #FFF;
    }
  }
}

.song-search-results {
  margin-top: 6px;

  .song-search-result {
    display: flex;
    align-items: center;
    margin: 6px 0;

    .song-image {
      flex: 0 0 50px;
      height: 50px;
      width: 50px;
    }

    .song-info {
      flex: 1;
      margin-left: 2px;

      p {
        margin: 0;
        padding: 4px;
        font-size: 14px;
      }
    }
  }
  a.song-search-result {
    color: #FFF;
  }

  .song-search-result:last-child {
    margin-bottom: 0;
  }

  .song-search-result:hover {
    cursor: pointer;
    background-color: grey;
  }
}