.search-page.modal {
  background-color: $background;

  .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
    .modal-content {
      background-color: inherit;
      border: 0;
      box-shadow: none;
    }
  }
}

.search-wrapper {
  padding: 6px;
}

.search-header-items {
  line-height: 28px;
}

.search-header-item {
  &.search {
    color: $background;
    overflow: hidden;
    input {
      padding: 0;
      padding-left: 8px;
      border-width: 0;
      border-radius: 4px;
      width: 100%;
      &:focus {
        outline: 0;
      }
    }
  }

  &.close-search {
    float: right;
    width: 54px;
    text-align: right;
    button {
      text-decoration: none;
      background-color: $background;
      color: #FFF;
      padding: 0;
      border: 0;
      &:focus {
        outline: 0;
      }
    }
  }
}

.song-search-results, .song-suggestions {
  margin-top: 6px;

  .song-search-result {

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: $dark-gray-1;
    }
  }
}