.home-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(circle at center, #242424 0%, #191919 150%);

  #lg {
    animation-fill-mode: forwards;
  }

  .jb-icon {
    position: relative;
    margin: 0 auto;

    svg {
      transform: rotate(45deg);
      width: 100px;
      height: 100px;
      fill: black;
      fill: url(#lg);

      //transition: fill 1s ease;

      &:hover {
        //fill: white;
      }
    }
  }
}