.container {
  width: 100%;
}

.song-queue-item {
  display: flex;
  align-items: center;
  margin: 6px 0;

  .song-image {
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
  }

  .song-info {
    flex: 1;
    margin-left: 2px;

    p {
      margin: 0;
      padding: 4px;
      font-size: 14px;
    }
  }

  .delete-button {
    float: right;
    height: 50px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: red;
  }

  .delete-button:before {
    content: 'DELETE';
  }

  .delete-button:hover {
    cursor: pointer;
  }
}