.song-queue-item {

  .drag-button,
  .delete-button {

    float: right;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .delete-button {
    background-color: red;
  }

}