.queue-page { z-index: -1; }

.queue-page.ng-enter {}
.queue-page.ng-leave { transition: 0.5s;}

.song-queue-item {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .song-image {
    flex: 0 0 54px;
    height: 54px;
    width: 54px;
    margin-left: 10px;
  }

  .song-info {
    flex: 1;
    margin-top: -4px;
    margin-left: 10px;

    .song-title {
      font: $song-title-font;
    }

    .song-artist {
      font: $song-artist-font;
    }

    .song-user {
      font: $song-user-font;
      color: $light-gray-1;
    }
  }

  .delete-button {
    float: right;
    height: 50px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: red;
  }

  .delete-button:before {
    content: 'DELETE';
  }

  .delete-button:hover {
    cursor: pointer;
  }
}