<div class="container">
  <div header></div>
  <div> <!-- why don't you need this anymore? <div ng-controller="SongsController"> -->
    <p>You are in room ID: {{ roomId }}</p>
    <p style="font-weight: bold; color: red;">STATUS: {{ status }}</p>
    <p>Search:</p>
    <input type="text" ng-model="searchText" ng-model-options="{ debounce: 500 }" ng-change="myData.sendQuery()" />
    {{ searchText }}
    <br>
    <br>
    <div style="float: left; width: 50%;">
      Spotify search results:
      <div ng-repeat="result in myData.spotify.results">
        <img style="float: left;" height="50" width="50" src="{{ result.album.images[0].url }}" />
        <p style="float: left;">{{ result.name }}</p>
        <br style="clear: both;">
      </div>
    </div>
    <div style="float: right; width: 50%;">
      Soundcloud search results:
      <div ng-repeat="result in myData.soundcloud.results">
        <a href="{{ result.permalink_url }}">
          <img style="float: left;" height="50" width="50" src="{{ result.artwork_url }}" />
          <span style="float: left;">{{ result.title }}</span>
          <br>
          <span style="">{{ result.user.username }}</span>
          <br style="clear: both;">
          <br>
        </a>
      </div>
    </div>
  </div>
  <!--
  <div ng-repeat="song in songs | filter:searchText">
    <a href="">{{ song.name }} <em>by</em> {{ song.artist }} <em>for</em> {{ song.price | currency }}</a>
  </div>
  -->
  <div footer></div>
  <div plus-button></div>
</div>