<div class="container">
  <div header></div>
  <div>
    <p>You are in room ID: {{ roomId }}</p>
    <p style="font-weight: bold; color: red;">STATUS: {{ status }}</p>
  </div>
  <!--
  <div ng-repeat="song in songs | filter:searchText">
    <a href="">{{ song.name }} <em>by</em> {{ song.artist }} <em>for</em> {{ song.price | currency }}</a>
  </div>
  -->
  <div ng-if="queueData.length > 0"><span>Your Song Queue</span></div>
    <div data-as-sortable="dragControlListeners" data-ng-model="queueData">
      <div ng-repeat="song in queueData">
      <div class="song-queue-item" data-uuid="{{ song.unique_id }}" data-as-sortable-item>
        <img src="{{ song.image_url }}" class="song-image" data-as-sortable-item-handle>
        <div class="song-info">
          <p>{{ song.track }}</p>
          <p>{{ song.artist }}</p>
        </div>
      </div>
    </div>
  </div>
<!--   <div footer></div> -->
  <div plus-button></div>
</div>
<div search></div>